* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-family: "Fraunces", sans-serif;
    color: hsl(212, 21%, 14%);
    line-height: 1;
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

p, span, s {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

p {
    line-height: 1.6;
}

main {
    display: flex;
    margin: 0.5em 0.5em 1.5em 0.5em;
}

picture {
    display: flex;
}

.box {
    display: flex;
    background-color: white;
    border-radius: 0.75em;
    width: 38em;
}

.perfume-photo {
    max-width: 100%;
    border-radius: 0.75em 0 0 0.75em;
}

.perfume-infos {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 2em;
}

.price {
    display: flex;
    align-items: center;
}

.price h2 {
    margin-right: 0.5em;
    color: hsl(158, 36%, 37%)
}

.button {
    display: flex;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    border-width: 0;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(158, 36%, 27%);
}

.button span {
    color: white;
    font-size: 13px;
}

.cart-icon {
    margin-right: 0.5em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 768px) {
    .box {
        flex-direction: column;
        width: 23em;
    }

    .perfume-photo {
        max-width: 100%;
        border-radius: 0.75em 0.75em 0 0;
    }
}